.Navbar {
  height: 80px;
}

.defaultInputs {
  position: absolute;
  top: 90px;
  left: 40px;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.searchAndAdd {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.newUserTable {
  position: absolute;
  top: 80px;
  right: 140px;
  bottom: 0;
  height: 300px;
  width: 300px;
}

.statusField {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
